section.showcase {
  height: 600px;
  position: relative;
  overflow: hidden;
  padding: 0;
  background: var(--tertiary-color);
}

/* === Studio Page === */

section.showcase .item {
  position: relative;
  height: 600px;
  width: 100%;
}

section.showcase .slider-content {
  position: absolute;
  bottom: 100px;
  left: 190px;
  color: #fff;
  background: var(--primary-color);
  /* padding: 10px 25px; */
  display: inline-block;
}

section.showcase .slider-content a {
  position: relative;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
  font-size: 18px;
  justify-content: center;
  text-decoration: none;
  padding: 15px 25px;
  align-self: flex-start;
  margin-right: auto;
}

section.showcase .slider-content span {
  padding-right: 10px;
}

.shows a:hover,
.item a:hover {
  text-decoration: none;
}

.arrow_prev.slick-arrow,
.show_arrow_prev.slick-arrow,
.new_arrow_prev.slick-arrow,
.podcast_arrow_prev.slick-arrow,
.popular_arrow_prev.slick-arrow {
  position: absolute;
  left: 30px;
  top: 40%;
  color: #fff;
  font-size: 3rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow_next.slick-arrow,
.show_arrow_next.slick-arrow,
.new_arrow_next.slick-arrow,
.podcast_arrow_next.slick-arrow,
.popular_arrow_next.slick-arrow {
  cursor: pointer;

  position: absolute;
  right: 30px;
  top: 40%;
  color: #fff;
  font-size: 3rem;
  transform: translateY(-50%);
}

.show_arrow_prev.slick-arrow,
.show_arrow_next.slick-arrow,
.new_arrow_prev.slick-arrow,
.new_arrow_next.slick-arrow,
.podcast_arrow_prev.slick-arrow,
.podcast_arrow_next.slick-arrow,
.popular_arrow_prev.slick-arrow,
.popular_arrow_next.slick-arrow {
  color: var(--tertiary-color);
  top: 60%;
}

.show_arrow_prev.slick-arrow,
.new_arrow_prev.slick-arrow,
.podcast_arrow_prev.slick-arrow,
.popular_arrow_prev.slick-arrow {
  left: 10%;
}

.show_arrow_next.slick-arrow,
.new_arrow_next.slick-arrow,
.podcast_arrow_next.slick-arrow,
.popular_arrow_next.slick-arrow {
  right: 10%;
}

.new_arrow_prev.slick-arrow,
.new_arrow_next.slick-arrow,
.podcast_arrow_prev.slick-arrow,
.podcast_arrow_next.slick-arrow,
.popular_arrow_prev.slick-arrow,
.popular_arrow_next.slick-arrow {
  top: 50%;
}
section.shows,
section.podcast {
  padding-bottom: 0px;
}

section.shows h2 {
  text-align: center;
}

.show-content,
.new-content,
.podcast-content,
.popular-content {
  margin: 30px 10px;
  text-align: center;
}
.show-content .item,
.new-content .item,
.podcast-content .item,
.popular-content .item {
  width: 200px;
  height: auto;
  padding: 0px 10px;
  border-radius: 50%;
}

.show-content .item img {
  /* height: 80%; */
  min-height: 200px;
}

.shows .show-content .item p {
  font-size: 18px;
  font-weight: 700;
}

.new-content .item img,
.podcast-content .item img,
.popular-content .item img {
  min-height: 300px;
  transition: ease-in-out 0.5s;
}

.new-content .item img:hover,
.podcast-content .item img:hover,
.popular-content .item img:hover {
  transform: scale(1.1);
}

section.new {
  padding-bottom: 0px;
}

section.studio-single {
  height: 400px;
}

section.studio-single .studio-content {
  position: absolute;
  left: 10%;
  top: 70%;
  transform: translateY(-50%);
  display: flex;
  color: #fff;
}

section.studio-single .studio-content img {
  height: 100px;
  width: 100px;
  opacity: 1;
}

section.studio-single .studio-content .text {
  margin-left: 20px;
  color: #fff;
  padding: 0 155px 0 0;
}
section.studio-single .studio-content .text p {
  color: #fff;
}

section.video .content a {
  display: inline-block;
  text-decoration: none;
}

/* === Digital Marketing Page === */
section.showcase img {
  opacity: 0.5;
}

section.showcase .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: block;
  width: 95%;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

section.showcase .content h2 {
  color: var(--secondary-color);
  font-size: 4rem;
  letter-spacing: 3px;
  display: block;
  font-weight: 700;
}

section.showcase .content p {
  color: #fff;
  font-size: 2rem;
}

section.dm-about {
  position: relative;
  padding: 60px 20px 30px 20px;
  background: var(--secondary-color);
}

section.dm-about .text-area {
  text-align: center;
}

section.services {
  position: relative;
}
section.services .content {
  position: relative;
}

section.services .content .heading {
  text-align: center;
}
section.services .content .item {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
}

section.design {
  padding-left: 0;
  padding-right: 0;
}

section.design .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.design .row > div {
  padding: 2.5px;
}

section.services .content .item .icon {
  width: 35px;
  font-size: 30px;
  margin-right: 20px;
}

/* === sports page === */
section.showcase .content .top-event h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  width: fit-content;
  margin: 30px auto;
  padding: 10px;
  background: var(--primary-color);
}
section.showcase .content .top-event p {
  padding: 0 10px;
  border: 3px solid var(--primary-color);
}

section.tournaments {
  position: relative;
  padding: 60px 20px;
}

section.tournaments .text {
  text-align: center;
}

section.tournaments .content {
  position: relative;
  padding-top: 30px;
}

section.tournaments .content .title {
  position: relative;
  height: 90px;
  margin: 20px;
  background: var(--tertiary-color);
}

section.tournaments .content a {
  font-size: 2rem;
  text-transform: uppercase;
  margin: auto;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  text-decoration: none;
  padding: 20px;
  align-self: flex-start;
}

section.tournaments .content a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

section.article {
  padding: 60px 20px;
  position: relative;
}

section.collab {
  position: relative;
  padding: 60px 20px;
}

section.collab .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.collab .items img {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0 30px;
}

section.collab .text {
  text-align: center;
}

/* === Single page of Sports === */

section.showcase.sports-single {
  height: 450px;
}

section.showcase.sports-single .content {
  margin-top: 0px;
}

section.scores .items {
  margin: 30px 0;
}

section.scores .items > h3 {
  color: rgba(122, 122, 122, 0.7);
}
section.scores .item {
  display: flex;
  justify-content: space-around;
  background: rgba(122, 122, 122, 0.5);
  padding: 20px;
  margin: 15px 0;
  color: #fff;
  text-align: center;
}

section.scores .item h3 span {
  font-size: 3rem;
  vertical-align: middle;
  font-weight: 700;
}
section.scores .item .left-content img,
section.scores .item .right-content img {
  height: 100px;
  width: auto;
}

section.scores .item .left-content,
section.scores .item .right-content {
  width: 35%;
}

section.scores .item p {
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

section.score-table {
  padding-top: 0px;
}

section.score-table table {
  margin: 30px 0;
}
