/* === Digital Marketing Page === */
section.showcase {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0;
  background: var(--tertiary-color);
}

section.showcase img {
  opacity: 0.5;
}

section.showcase .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: block;
  width: 95%;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

section.showcase .content h2 {
  color: var(--secondary-color);
  font-size: 4rem;
  letter-spacing: 3px;
  display: block;
  font-weight: 700;
}

section.showcase .content p {
  color: #fff;
  font-size: 2rem;
}

section.dm-about {
  position: relative;
  padding: 60px 20px 30px 20px;
  background: var(--secondary-color);
}

section.dm-about .text-area {
  text-align: center;
}

section.services {
  position: relative;
}
section.services .content {
  position: relative;
}

section.services .content .heading {
  text-align: center;
}
section.services .content .item {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
}

section.design {
  padding-left: 0;
  padding-right: 0;
}

section.design .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.services .content .item .icon {
  width: 35px;
  font-size: 30px;
  margin-right: 20px;
}

/* === sports page === */
section.showcase .content .top-event h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  width: fit-content;
  margin: 30px auto;
  padding: 10px;
  background: var(--primary-color);
}
section.showcase .content .top-event p {
  padding: 0 10px;
  border: 3px solid var(--primary-color);
}

section.tournaments {
  position: relative;
  padding: 60px 20px;
}

section.tournaments .text {
  text-align: center;
}

section.tournaments .content {
  position: relative;
  padding-top: 30px;
}

section.tournaments .content .title {
  position: relative;
  height: 90px;
  margin: 20px;
  background: var(--tertiary-color);
}

section.tournaments .content a {
  font-size: 2rem;
  text-transform: uppercase;
  margin: auto;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 20px;
  align-self: flex-start;
}

section.tournaments .content a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

section.article {
  padding: 60px 20px;
  position: relative;
}

section.collab {
  position: relative;
  padding: 60px 20px;
}

section.collab .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.collab .items img {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0 30px;
}

section.collab .text {
  text-align: center;
}
